<div class="btn-group position-absolute top-20 end-0">
  <button  class="btn btn-success " routerLink="addlogin" data-bs-target="#LoginAddForm" data-bs-toggle="modal"
  (click)="addClick()">
  ADD LOGIN
</button>
   
  </div>


<!-- Modal -->
<div class="modal fade" id="LoginAddForm" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <!-- Login Form -->
        <form action="">
          <div class="modal-header">
            <h5 class="modal-title">Login Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeClick()"></button>
          </div>
          <div class="modal-body"></div>
          <app-add-edit-log [log]="log" *ngIf="ActivateAddEditComp"
          ></app-add-edit-log>

      </form>
    </div>
  </div>
</div>



<table class="table table-striped">
 <thead>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th>WebsiteUrl</th>
    <th>WebsiteName</th>
  </tr>
 </thead>
<tbody>
  <tr *ngFor="let dataItem of LoginList">
    <td>{{dataItem.Username}}</td>
    <td>{{dataItem.Password}}</td>
    <td>{{dataItem.WebsiteUrl}}</td>
    <td>{{dataItem.WebsiteName}}</td>
    <td><button type="button" class="btn btn-light mr-1" data-bs-toggle="modal" data-bs-target="#LoginAddForm" (click)="editClick(dataItem)">Edit</button></td>
    <td><button type="button" class="btn btn-light mr-1" (click)="deleteClick(dataItem)">Delete</button></td>


  </tr>
 </tbody>
</table>


